.savedsearch {
    cursor: pointer;
}

.savedsearch:hover {
    background-color: navy;
    color: white;
    border-style: solid;
    border-color: white;
}

.forecast {
    border-radius: 25px;
    background-color: blue;
    color: white;
}

#citylist {
    height: 100%;
    background-color: aqua;
}

#currentcity {
    display: none;
}

#currentconditions {
    border-style: solid;
    border-color: black;
}

#uvindex {
    border-radius: 10px;
}